<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
        <form #order="ngForm" autocomplete="off" novalidate>
          {{order.valid | json}} {{order.value | json}}
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>                

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input-container label="Endereço" errorMessage="Campo obrigatório e com mais de 5 caracteres.">
                <input type="text" name="address" ngModel #inputAddressStreet="ngModel" minlength="5" required class="form-control" placeholder="Endereço">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
                <mt-input-container label="Número" errorMessage="Obrigatório e Somente Números.">
                  <input type="text" name="number" pattern="^[0-9]*$" ngModel #inputAddressNumber="ngModel" required class="form-control" placeholder="Número">
                </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container label="Complemento">
                <input type="text" name="optional" ngModel #inputAddressOptional="ngModel" class="form-control" placeholder="Complemento">
              </mt-input-container>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            <mt-order-itens [items]="cartItems()" (increaseQty)="increaseQty($event)" (decreaseQty)="decreaseQty($event)" (removeItem)="removeItem($event)"></mt-order-itens>
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>
              <div class="form-group">
                <mt-radio [options]="paymentOptions" name="selectedPaymentOption" [(ngModel)]="selectedPaymentOption" required></mt-radio>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>
              <mt-delivery-costs [deliveryTax]='delivery' [itemsValue]="itemsValue()"></mt-delivery-costs>
            </div>
          </div>

        </form>

        <div class="row">
          <div class="col-xs-12">
            <button (click)="checkOrder(cartItems(order.value))" [disabled]="!order.valid || cartItems().length === 0" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Concluir Pedido
            </button>
          </div>
        </div>

    </section>
</section>